#exclude /admin/ folder
Options  FollowSymLinks
RewriteEngine On

RewriteBase /imgpic/




RewriteCond %{REQUEST_URI} !^/uploadt/
RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|css|js|etc|flv|swf|mp4|mov)$ [NC]




RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php


#RewriteRule ^([^/]*)/([^/]*)$ /index.php [L]
